*, *:after, *:before {
	box-sizing: border-box;
}

h1, h2, h3, h4 {
	margin: .2em;
	color: #000;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 2em;
	
}

p {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}


ul {
	list-style-type: none;
}

li {
	font-family: Futura, "Trebuchet MS". Arial, sans-serif;
}

li a {
	text-decoration: none;
	display: block;
	
}

li a:hover {
	color: red;
}